@model StoreListViewModel

@if (TempData["Message"] != null)
{
    <p class="text-@TempData["MessageStyle"]">@TempData["Message"]</p>
}

@foreach (Product product in Model.Products ?? Enumerable.Empty<Product>())
{
    <partial name="ProductSummary" model="product" />
}

<div>
    <a class="btn btn-primary" asp-action="Create">Create</a>
</div>
<div class="text-center">
    <div page-model="@Model.PagingInfo" page-action="Index"
            page-classes-enabled="true" page-class="btn"
            page-class-normal="btn-outline-drk" page-class-selected="btn-primary"
            page-url-gameCategory="@Model.CurrentCategory!" class="btn-group pull-right m-1">
    </div>
</div>