@page "/Life"
@{
    Layout = null;
    ViewData["Demo"] = "Game of Life";
}
<!DOCTYPE html>
<html>
<head>
    <title>Conway's Game of Life</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="" />
</head>
<body>
    <partial name="_HeaderPartial" />
    <component type="typeof(Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>