@model IEnumerable<Game>

@foreach (Game game in Model)
{
    <div>
        <table class="table table-bordered table-striped">
            <tbody >
                <tr>
                    <td rowspan="3" class="col-2">
                        <img src="https://picsum.photos/100" />
                    </td>
                    <td><lable>Title: </lable></td>
                    <td>@(game.Name)</td>
                </tr>
                <tr>
                    <td><label for="Description">Description</label></td>
                    <td><p>@(game.Description)</p></td>
                </tr>
                <tr>
                    <td><label for="Price">Price</label></td>
                    <td>@(game.Price.ToString("c"))</td>
                </tr>
            </tbody>
        </table>
    </div>
}
