@model IEnumerable<string>

<vc:user-bar />
<div class="d-grid gap-2">
    <a class="btn btn-sm btn-outline-secondary" asp-route="Pages">
        Home
    </a>
    @foreach(string category in Model ?? [])
    {
        <a class="btn btn-sm @(category == ViewBag.SelectedCategory ? "btn-primary" : "btn-outline-secondary")"
            asp-route="CatPage" asp-route-gameCategory="@category" asp-route-listPage="1">
            @category
        </a>
    }
</div>
