@page
@model PersonalWebsite.Pages.Demos.ListModel
@{
    ViewData["Title"] = "Demos List";
}
<ul>
    <li>
        <a href="/Life">Conway's Game of Life</a>
    </li>
    <li>
        <a href="/Demos/Challenge1">Parse image from link to document</a>
    </li>
    <li>
        <a href="/ToDoList">ToDo List</a>
    </li>
</ul>
