@page
@model PersonalWebsite.Pages.AboutMeModel
@{
    ViewData["Title"] = "About Me";
}
<div class="text-center">
    <h1>About Me</h1>
</div>
<section id="Background-sec">
    <h2>Background</h2>
    <p style="text-indent: 2em;">My name is James Reed</p>
</section>
<section id="Education-sec">
    <h2>Education</h2>
    <div>
        <div class="d-flex">
            <div class="fw-bold col-6">Kennesaw State University</div>
            <div class="fw-bold col-3">GPA: 3.92 (Summa Cum Laude)</div>
            <div class="fw-bold col-3 text-end">2017-2021</div>
        </div>
        <p>Major: Master of Science in Systems Engineering</p>
    </div>
    <div>
        <div class="d-flex">
            <div class="fw-bold col-6">Georgia State University</div>
            <div class="fw-bold col-3">GPA: 3.92 (Summa Cum Laude)</div>
            <div class="fw-bold col-3 text-end">2014-2015</div>
        </div>
        <p>Major: Bachelor of Arts in Political Science</p>
    </div>
    <div>
        <div class="d-flex">
            <div class="fw-bold col-6">Georgia Perimeter College</div>
            <div class="fw-bold col-3">GPA: 3.2</div>
            <div class="fw-bold col-3 text-end">2010-2013</div>
        </div>
        <p>Major: Associate of Science in Computer Science</p>
    </div>
    <div>
        <div class="d-flex">
            <div class="fw-bold col-6">Georgia Perimeter College</div>
            <div class="fw-bold col-3">GPA: 3.2</div>
            <div class="fw-bold col-3 text-end">2010-2013</div>
        </div>
        <p>Major: Associate of Arts in Foreign Language</p>
    </div>
</section>

<section id="WorkExp-sec">
    <h2>Work Experience</h2>
    <div>
        <div class="d-flex">
            <div class="fw-bold col-6">Management Intern</div>
            <div class="fw-bold col-3">Virtunix</div>
            <div class="fw-bold col-3 text-end">2020-2021</div>
        </div>
        <ul>
            <li>Managed the production of digital art/musical assets for use in Livestream content production</li>
            <li>Assisted in the creation of organizational procedures to improve communication and ensure deliverables were of sufficient quality</li>
        </ul>
    </div>
    <div>
        <div class="d-flex">
            <div class="fw-bold col-6">Subject/Test Prep Tutor</div>
            <div class="fw-bold col-3">Huntington Learning Center</div>
            <div class="fw-bold col-3 text-end">2015-2017</div>
        </div>
        <ul>
            <li>Provided subject tutoring to high school and college students about Political Science, History, Math, English, and essay writing </li>
            <li>SAT and ACT test preparation</li>
        </ul>
    </div>
</section>
<section id="Programming-sec">
    <h2>Programming Languages, Tools, and Frameworks</h2>
    <div class="d-flex">
        <div class="col-3">
            <h3>html/css</h3>
            <ul><li>Bootstrap</li></ul>
        </div>
        <div class="col-3">
            <h3>Javascript</h3>
            <ul>
                <li>Node.js</li>
                <li>Express.js</li>
                <li>React.js</li>
            </ul>
        </div>
        <div class="col-3">
            <h3>C#</h3>
            <ul>
                <li>ASP.NET Core 7 & 8</li>
                <li>MVC</li>
                <li>EntityFrameworkCore</li>
                <li>Identity</li>
                <li>Blazor Server</li>
                <li>Blazor Web Assembly</li>
            </ul>
        </div>
        <div class="col-3">
            <h3>SQL</h3>
            <ul>
                <li>MySQL</li>
                <li>PostgreSQL</li>
            </ul>
        </div>
    </div>
</section>
<section id="Certifications-sec">
    <h2>Certifications and Recent Coursework</h2>
    <h3>Certified Associate in Project Management (CAPM)</h3>
    <p>Certification Number: 3845428</p>
    <h3>Complete Full-Stack Web Development Bootcamp (Udemy)</h3>
    <p>Certificate URL: <a href="https://www.udemy.com/certificate/UC-b18a18e9-5398-47c0-894c-e67ee59908ba/" target="_blank">Link</a></p>
    <h3>The Ultimate MySQL Bootcamp: Go From SQL Beginner to Expert</h3>
    <p>Certificate URL: <a href="https://www.udemy.com/certificate/UC-7bab4d4a-3c00-408e-9ed4-21ad25840018/" target="_blank">Link</a></p>

</section>