@page
@model PersonalWebsite.Pages.AboutMeModel
@{
    ViewData["Title"] = "About Me";
}
<div class="text-center">
    <h1>About Me</h1>
</div>
<div>
    <h2>Background</h2>
    <p style="text-indent: 2em;">My name is James Reed</p>
</div>
<div>
    <h2>Education</h2>
</div>
<div>
    <h2>Work Experience</h2>
</div>
<div>
    <h2>Programming Languages, Tools, and Frameworks</h2>
</div>