@page "/APIdocs"

<h1>Store API documentation</h1>

<h2>Overview</h2>
<p style="text-indent: 2em">I have buiilt 2 APIs that interact with the database used in my Games Store Demo. These APIs allow access to the 
    Games and Publishers data that are used in the store. These APIs are primarily intended to serve as demonstrations of my familiarity with
    the principles of RESTful API development rather than as a complete inteferface for modifying the database upon which my game store demo
    relies. Deletions and modifications of Games 1-13 and Publishers 1-16 will cause errors. The full code for the APIs are available on my github.
</p>
<h2>Games "/api/Games"</h2>
